<h2 class="text-center">{{title}}</h2>

<div class="row"> 
    <div class="large-6 large-offset-3 columns" ng-show="rows.length > 0"> 
        <table>
             <thead>
                <tr>
                   <th ng-repeat-start="label in labels" ng-if="datatypes[$index] !== 'textarea'" ng-repeat-end>{{label}}</th>
                   <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in rows | orderBy: predicate">
                    <td ng-repeat-start="column in columns" ng-if="datatypes[$index] !== 'textarea'" ng-repeat-end>
                        <span ng-if="datatypes[$index] !== 'bool'">{{row[column]}}</span>
                        <img ng-if="datatypes[$index] === 'bool'" src="img/icon/{{row[column]? 'ok.png' : 'delete.png'}}" alt="{{row[column]}}" />
                    </td>
                    <td>
                        <a ng-href="{{baseEditUrl}}/{{row.id}}" class="button tiny">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <br/>
    </div> 
    
    <div class="large-6 large-offset-3 text-center alert-box secondary radius" ng-show="rows.length <= 0">
        No data available
    </div>
</div>

<div class="row"> 
    <div class="large-6 large-offset-3 columns text-center"> 
        <a ng-href="{{baseEditUrl}}/new" class="button success tiny">Add new</a>
    </div>
</div> 


